    <div align="center" class="top__slide">
      <div class="top__slide--01">content1</div>
      <div class="top__slide--02">content2</div>
      <div class="top__slide--03">content3</div>
    </div>