<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-151662884-2"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-151662884-2');
  </script>
</head>

<h1 align="center">投稿一覧</h1>
  <%= render 'slide'%>
<div align="center">
  <%= will_paginate %>
</div>
  <%= render 'article', obj: @articles %>
<div align="center">
  <%= will_paginate %>
</div>