<div class="center jumbotron">
  <h1>Atelier</h1>
    <%=render 'articles/slide' %>
</div>
<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-151662884-2"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-151662884-2');
  </script>
</head>
<div class="row">
  <div class="col-md-4 col-md-offset-4 text-center">
    <%=link_to '表現のアトリエとは', about_path%> |
    <%= link_to '表現のアトリエへ', articles_path%>
  </div>
</div>