<div class="center jumbotron">
  <h1>Atelier</h1>
  <%=link_to "Sign in your 'Heart'", signup_path, class: "btn btn-default btn-lg" ,role: "button"%>
</div>
<br/>
<br/>
<div class="row">
  <div class="col-md-4 col-md-offset-4 text-center">
    <%=link_to '表現のアトリエとは', about_path%> |
    <%= link_to '表現のアトリエへ', articles_path%>
  </div>
</div>