$navbar-default-bg:rgb(236, 236, 236);

@import "bootstrap-sprockets";
@import "bootstrap";

@import "slick";
@import "slick-theme";

.background{
    background-image: asset-url('home.jpg');
    background-size:cover ;
}

#logo {
    float: left;
    font-size:1.7em;
    color:#eaeaea;
    letter-spacing: -1px;
    padding: 6px;
}

.center{
    text-align: center;
}

.jumbotron{
    background: transparent ;
    background-size: cover ;
    height:1500px;
}

.jumbotron h1{
    font-size:100px ;
    color:rgba(234, 233, 235, 0.596);
    margin: 20px;
}

.description{
    margin-top: 0;
}

.article-meta-details{
    border-top: 1px solid #eaeaea;
    margin-top: 15px;
}

.article-actions{
    border-top:1px solid #eaeaea;
    padding-top: 5px;
}

.article-title{
    font-weight: bold;
    font-size: 1.5em;
}

.article-body{
    border-top: 1px solid #eaeaea;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 1.0em;
}

.listing{
    list-style: none;
    padding-left: 0;
}

.footer{
    background: transparent;
}


.top__slide--01{
    height: 300px ;
    text-align: center;
    font-size: 10px;
    color: white;
}

.top__slide--02{
    height: 200px ;
    text-align: center;
    font-size: 10px;
    color: white;
}

.top__slide--03{
    height: 200px ;
    text-align: center;
    font-size: 10px;
    color: white;
}